bin/
obj/
dist/
artifacts/

Directory.Build.props

.vs/
.idea/
.vscode/

*.user
*.suo
*.userprefs
*.DotSettings.user

packages/
*.nupkg
*.snupkg

*.log

.DS_Store
Thumbs.db

*_recon/
recon/

lib/
libs/
references/

BepInEx/
doorstop_config.ini
winhttp.dll

publish.ps1
.thunderstore-token
